<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.snailjob.template.datasource.persistence.mapper.JobLogMessageMapper">

    <sql id="insertBatch_Column_List">
        #{item.namespaceId},
        #{item.groupName},
        #{item.jobId},
        #{item.taskBatchId},
        #{item.taskId},
        #{item.logNum},
        #{item.message},
        #{item.createDt},
        #{item.realTime}
    </sql>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO sj_job_log_message (namespace_id, group_name, job_id, task_batch_id, task_id,
                                        log_num, message, create_dt, real_time)
        <if test="@com.aizuda.snailjob.template.datasource.utils.DbUtils@notOracle()">
            VALUES
            <foreach collection="list" item="item" open="(" separator="," close=")">
                <include refid="insertBatch_Column_List" />
            </foreach>
        </if>
        <if test="@com.aizuda.snailjob.template.datasource.utils.DbUtils@isOracle()">
            <foreach collection="list" item="item" separator="UNION ALL">
                SELECT
                    <include refid="insertBatch_Column_List" />
                FROM DUAL
            </foreach>
        </if>
    </insert>

</mapper>
