<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.easy.retry.template.datasource.persistence.mapper.DistributedLockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aizuda.easy.retry.template.datasource.persistence.po.DistributedLock">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="lock_until" property="lockUntil" />
        <result column="locked_at" property="lockedAt" />
        <result column="locked_by" property="lockedBy" />
        <result column="create_dt" property="createDt" />
        <result column="update_dt" property="updateDt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, lock_until, locked_at, locked_by, create_dt, update_dt
    </sql>

    <update id="updateTest">
        UPDATE distributed_lock SET locked_by = #{lockedBy},
                                    lock_until = #{lockUntil},
                                    locked_at = #{lockedAt}
        WHERE name = #{name} AND lock_until <![CDATA[ <= ]]>  #{lockedAt}
    </update>
</mapper>
