<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.easy.retry.template.datasource.persistence.mapper.RetrySummaryMapper">
    <resultMap id="BaseResultMap" type="com.aizuda.easy.retry.template.datasource.persistence.po.RetrySummary">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="namespace_id" jdbcType="TINYINT" property="namespaceId"/>
        <result column="group_name" jdbcType="TINYINT" property="groupName"/>
        <result column="scene_name" jdbcType="TINYINT" property="sceneName"/>
        <result column="trigger_at" jdbcType="TIMESTAMP" property="triggerAt"/>
        <result column="running_num" jdbcType="TINYINT" property="runningNum"/>
        <result column="finish_num" jdbcType="TINYINT" property="finishNum"/>
        <result column="max_count_num" jdbcType="VARCHAR" property="maxCountNum"/>
        <result column="suspend_num" jdbcType="TINYINT" property="suspendNum"/>
        <result column="create_dt" jdbcType="TIMESTAMP" property="createDt"/>
        <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        retry_summary (namespace_id, group_name, scene_name, trigger_at, running_num, finish_num, max_count_num,
        suspend_num)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.namespaceId},
            #{item.groupName},
            #{item.sceneName},
            #{item.triggerAt},
            #{item.runningNum},
            #{item.finishNum},
            #{item.maxCountNum},
            #{item.suspendNum}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        UPDATE retry_summary
        SET running_num = src.running_num,
        finish_num = src.finish_num,
        max_count_num = src.max_count_num,
        suspend_num = src.suspend_num
        FROM retry_summary AS dest
        JOIN (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.runningNum} AS running_num,
            #{item.finishNum} AS finish_num,
            #{item.maxCountNum} AS max_count_num,
            #{item.suspendNum} AS suspend_num,
            #{item.triggerAt} AS trigger_at,
            #{item.sceneName} AS scene_name,
            #{item.namespaceId} AS namespace_id,
            #{item.groupName} AS group_name
        </foreach>
        ) AS src
        ON (dest.trigger_at = src.trigger_at AND dest.group_name = src.group_name
        AND dest.scene_name = src.scene_name AND dest.namespace_id = src.namespace_id
        )
    </update>

    <select id="retryTask"
            resultType="com.aizuda.easy.retry.template.datasource.persistence.dataobject.DashboardCardResponseDO$RetryTask">
        SELECT
            ISNULL(SUM(running_num), 0) AS runningNum,
            ISNULL(SUM(finish_num), 0) AS finishNum,
            ISNULL(SUM(max_count_num), 0) AS maxCountNum,
            ISNULL(SUM(suspend_num), 0) AS suspendNum,
            ISNULL(SUM(running_num + finish_num + max_count_num + suspend_num), 0) AS totalNum
        FROM retry_summary
        ${ew.customSqlSegment}
    </select>

    <select id="retryTaskBarList"
            resultType="com.aizuda.easy.retry.template.datasource.persistence.dataobject.DashboardCardResponseDO$RetryTask">
        SELECT TOP 7
            trigger_at,
            running_num,
            finish_num,
            max_count_num,
            suspend_num
        FROM retry_summary
        ${ew.customSqlSegment}
    </select>

    <select id="retryLineList"
            resultType="com.aizuda.easy.retry.template.datasource.persistence.dataobject.DashboardLineResponseDO">
        SELECT
            createDt,
            ISNULL(SUM(finish_num), 0) AS successNum,
            ISNULL(SUM(running_num), 0) AS runningNum,
            ISNULL(SUM(max_count_num), 0) AS maxCountNum,
            ISNULL(SUM(suspend_num), 0) AS suspendNum,
            ISNULL(SUM(finish_num + running_num + max_count_num + suspend_num), 0) AS total
        FROM (
            SELECT
                FORMAT(create_dt, #{dateFormat}) AS createDt,
                finish_num,
                running_num,
                max_count_num,
                suspend_num
            FROM retry_summary
            ${ew.customSqlSegment}
        ) AS subquery
        GROUP BY createDt
    </select>

    <select id="dashboardRank"
            resultType="com.aizuda.easy.retry.template.datasource.persistence.dataobject.DashboardRetryLineResponseDO$Rank">
        SELECT TOP 10
            CONCAT(group_name, '/', scene_name) AS name,
            SUM(running_num + finish_num + max_count_num + suspend_num) AS total
        FROM retry_summary
        ${ew.customSqlSegment}
        HAVING SUM(running_num + finish_num + max_count_num + suspend_num) > 0
        ORDER BY total DESC
    </select>

    <!--  SQL Server GROUP BY 的分页必须 ORDER BY xxx -->
    <select id="retryTaskList"
            resultType="com.aizuda.easy.retry.template.datasource.persistence.dataobject.DashboardRetryLineResponseDO$Task">
        SELECT
            group_name AS groupName,
            SUM(CASE WHEN (scene_status = 1) THEN 1 ELSE 0 END) AS run,
            COUNT(*) AS total
        FROM scene_config
        ${ew.customSqlSegment}
        GROUP BY namespace_id, group_name
        ORDER BY group_name
    </select>

    <!--  用于 retryTaskList 分页的 自定义 COUNT,
     SQL Server SELECT COUNT(*) FROM (... ORDER BY group_name) 会报错 -->
    <select id="countRetryTask" resultType="long">
        SELECT COUNT(DISTINCT group_name)
        FROM scene_config
        ${ew.customSqlSegment}
    </select>
</mapper>
