<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.easy.retry.template.datasource.persistence.mapper.SceneConfigMapper">
    <resultMap id="BaseResultMap" type="com.aizuda.easy.retry.template.datasource.persistence.po.SceneConfig">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="scene_name" jdbcType="VARCHAR" property="sceneName" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="scene_status" jdbcType="TINYINT" property="sceneStatus" />
        <result column="max_retry_count" jdbcType="TINYINT" property="maxRetryCount" />
        <result column="back_off" jdbcType="TINYINT" property="backOff" />
        <result column="trigger_interval" jdbcType="TINYINT" property="triggerInterval" />
        <result column="deadline_request" jdbcType="BIGINT" property="deadlineRequest" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
        <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, scene_name, group_name, scene_status, max_retry_count, back_off, trigger_interval,
        deadline_request, description, create_dt, update_dt
    </sql>
</mapper>
