<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.snailjob.template.datasource.persistence.mapper.ServerNodeMapper">

    <update id="updateBatchExpireAt" parameterType="java.util.List">
        <foreach collection="list" item="item" open="BEGIN" separator=";" close=";END;">
            UPDATE sj_server_node
               SET expire_at = #{item.expireAt}
             WHERE host_id = #{item.hostId}
               AND host_ip = #{item.hostIp}
        </foreach>
    </update>

</mapper>
