<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.easy.retry.template.datasource.persistence.mapper.JobLogMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aizuda.easy.retry.template.datasource.persistence.po.JobLogMessage">
        <id column="id" property="id"/>
        <result column="namespace_id" property="namespaceId"/>
        <result column="group_name" property="groupName"/>
        <result column="job_id" property="jobId"/>
        <result column="task_batch_id" property="taskBatchId"/>
        <result column="task_id" property="taskId"/>
        <result column="log_num" property="logNum"/>
        <result column="message" property="message"/>
        <result column="create_dt" property="createDt"/>
        <result column="real_time" property="realTime"/>
    </resultMap>

    <!-- 定义批量新增的 SQL 映射 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO job_log_message (namespace_id, group_name, job_id, task_batch_id, task_id,
                                     log_num, message, create_dt, real_time)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (
                    #{item.namespaceId},
                    #{item.groupName},
                    #{item.jobId},
                    #{item.taskBatchId},
                    #{item.taskId},
                    #{item.logNum},
                    #{item.message},
                    #{item.createDt},
                    #{item.realTime}
                )
            </foreach>
    </insert>
</mapper>
