<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.easy.retry.template.datasource.persistence.mapper.GroupConfigMapper">
  <resultMap id="BaseResultMap" type="com.aizuda.easy.retry.template.datasource.persistence.po.GroupConfig">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_status" jdbcType="TINYINT" property="groupStatus" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="group_partition" jdbcType="TINYINT" property="groupPartition" />
    <result column="route_key" jdbcType="TINYINT" property="routeKey" />
    <result column="id_generator_mode" jdbcType="TINYINT" property="idGeneratorMode" />
    <result column="init_scene" jdbcType="TINYINT" property="initScene" />
    <result column="description" jdbcType="TINYINT" property="description" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_name, group_status, version, group_partition, route_key, id_generator_mode, init_scene， description, create_dt, update_dt
  </sql>

</mapper>
