<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aizuda.snailjob.template.datasource.persistence.mapper.RetryTaskMapper">

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sj_retry_task_log (unique_id, group_name, scene_name, idempotent_id, biz_no, executor_name,
                                       args_str, ext_attrs, task_type, create_dt, namespace_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.uniqueId},
                #{item.groupName},
                #{item.sceneName},
                #{item.idempotentId},
                #{item.bizNo},
                #{item.executorName},
                #{item.argsStr},
                #{item.extAttrs},
                #{item.taskType},
                #{item.createDt},
                #{item.namespaceId}
            )
        </foreach>
    </insert>

</mapper>
