name: Java CI with Maven

on:
  push:
    branches: [ "dev_ci" ]
  pull_request:
    branches: [ "dev_ci" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    
    - name: Set up Apache Maven Central
      uses: actions/setup-java@v4
      with: # running setup-java again overwrites the settings.xml
        distribution: 'temurin'
        java-version: '17'
        server-id: maven # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: {{ secrets.OSSRH_USERNAME }} # env variable for username in deploy
        server-password: ${{ secrets.OSSRH_TOKEN }} # env variable for token in deploy
        gpg-private-key: ${{ secrets.GPG_SECRET }} # Value of the GPG private key to import
        gpg-passphrase: ${{ secrets.GPG_PASSWORD }} # env variable for GPG private key passphrase

    - name: Publish to Apache Maven Central
      run: mvn deploy
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSWORD }}
